.navbar-brand img {
    // margin-bottom: 5px;
    height: 70px;
    padding-top: 5px;
}
.bg-dark {
    background-color: #29abe2 !important;
    height: 75px;
}
#dropdown01 {
    cursor: pointer;
}
.navbar-dark 
.navbar-nav .active > .nav-link, .navbar-dark 
.navbar-nav .nav-link.active, .navbar-dark 
.navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show > .nav-link {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.nav-link.dropdown-toggle{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #29abe2;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
.navbar-dark .navbar-toggler {
    color: #212529;
    border-color: #2b93b2;
}
.navbar-dark .navbar-toggler {
    color: #212529;
    border-color: #2b93b2;
}
.navbar-toggler {
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}

.signin a{
    color: #fff;
    padding-right: 10px;
    text-decoration: none;
}
.signin a:hover {
    color: rgba(255,255,255,.75);
}
.signup a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 3px;
}
.signup a:hover {
    color: rgba(255,255,255,.75);
}
.fa.fa-bell{
    font-size: 18px;
    margin-right: 18px;
    color: #fff;
}
.fa.fa-user-circle {
    font-size: 25px;
    margin-right: 5px;
    color: #fff;
}
.fa.fa-caret-down {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin-right: 15px;
}

.fa.fa-caret-up{
    position: absolute;
    right: 50px;
    top: 40px;
    font-size: 30px;
    color: #fff;
    display: none;
    z-index: 50000;
}
.logoutform{
    position: absolute;
    width: 170px;
    height: 250px;
    background: #fff;
    border-radius: 5px;
    right: 37px;
    top: 60px;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8); 
    border-bottom: 7px solid rgba(104,104,104,0.8);
    display: none;
    
    form{
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.1em;
        margin-top: 15px;
        padding: 10px 10px;
        a{
            margin-left: 10px;
            text-decoration: none;
            font-weight: bold;
        }
        .formlayout{
            padding-bottom: 15px;
        }
        .formlayout:child(3){
            margin-top: 15px;
        }
    }
    
}
@media (max-width: 992px) {
    #navbarsExampleDefault {
        background-color: red;
    }
}   